body{
    background-color: rgb(229, 223, 223);
    color: #444;
}
#content {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    background-color: white;
    text-align: justify;
    color: #444;
    margin-top: 10%;
    padding: 2rem;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);  /* Optional: adds a subtle shadow */
    border-radius: 8px;  /* Optional: adds rounded corners */
}

/* Ensure the help text is displayed below the input field */
.helptext {
    display: block; /* Makes it appear on a new line */
    margin-top: 0px; /* Adds space between the input field and the help text */
    font-size: 0.9em; /* Adjust the font size if needed */
    color: #6c757d; /* Optional: Change color to a subtle grey */
}

/* Align the help text with the input field */
input + .helptext,
textarea + .helptext,
select + .helptext {
    margin-left: 2px; /* Adjust for alignment if needed */
    padding-left: 20px; /* Remove extra padding if added by default */
}
button {
    color: #ddd;
    background-color: rgb(9, 110, 3); 
}

.btn-edit, .btn-del, .btn-add {
    text-decoration: none;
    padding: 10px 6px;
    
}

.btn-edit {
    background-color: rgb(205, 205, 233);
    color: #444;
}
.btn-del {
    background-color: rgb(243, 217, 217);
    color: #444;
}
.btn-add {
    background-color: rgb(218, 216, 216);
    color: #444;
}
