{% extends "base.html" %}

{% block title %}Reset your password {% endblock %}

{% block content %}

<h2>Reset your Password</h2>

    {% if validlink %}
       
        <p>Please enter your new password twice.</p>

        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit">Set New Password</button>
        </form>

    {% else %}

        <p>The password reset link was invalid, possibly because it has already been used. Please request a new password reset.</p>
    
    {% endif %}

{% endblock %}
