{% extends "base.html" %}
{% block title %} Student Details {% endblock %}

{% block content %}
<center>
<p>
  {% if student.passport_photograph %}
    <img width="100" height="100" src="{{ student.passport_photograph.url }}" alt="{{ student.name }} passport_photograph">
  {% else %}
    <p>No passport available for this student.</p>
  {% endif %}
</p>

  <h2>{{ student.get_full_name|upper }}</h2>
</center>
  <p> Date of Birth: {{ student.date_of_birth }} </p>
  <p> Age: {{ student.get_age }} Years </p>
  <p>Admission number:  {{ student.admission_number }} </p>
  <p>Program: {{ student.get_program_display }}</p>
  <p>Country of Birth: {{ student.country_of_birth }}</p>
  <p>State of Origin: {{ student.state_of_origin }}</p>
  <p>LGA: {{ student.place_of_birth }}</p>
  <p>Gender: {{ student.get_gender_display }}</p>
  <p>Guardian Email: {{ student.guardian_email }}</p>
  <p>Guardian Phone Number: {{ student.guardian_phone_number }}</p>
  <p>School: {{ student.school.name }}</p>
  <p>Program: {{ student.get_program_display }}</p>
  <p>Current Level: {{ student.get_current_level_display }}</p>
   

  <a href="{% url 'students:list' %}">Back to List</a>
  <a href="{% url 'students:delete' student.pk %}">Delete</a>
  <a href="{% url 'students:update' student.pk %}">Edit</a>
{% endblock %}
