{% extends "base.html" %}
{% block headlink %}
    <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
{% endblock headlink %}
{% block title %}
    Student enrollment 1 | SAMSES
{% endblock title %}
{% block content %}


<form method="post">
    {% csrf_token %}
    <h2>Select School for {{ student.full_name }}</h2>
    {{ form.as_p }}
    <button type="submit" class="btn btn-primary">Next</button>
</form>

{% block bodyscript %} 
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js" integrity="sha512-v2CJ7UaYy4JwqLDIrZUI/4hqeoQieOmAZNXBeQyjo21dadnwR+8ZaIJVT8EE2iyI61OV8e6M8PP2/4hpQINQ/g==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
<script>
    
    $(document).ready(function() {
        $('.select2').select2(); 
    });
</script>
{% endblock %}
{% endblock content %}