{% extends "base.html" %}
{% block title %} SEC | Welcome {% endblock %}

{% block content %}
<h2>Dashboard</h2>
<p>Welcome to dashboard</p>
<h2>School management</h2>
<p>You can <a href="{% url 'schools:list' %}">Manage schools on this server</a></p>
<p>You can <a href="{% url 'schools:academic_sessions' %}">Manage schools academic sessions on this server</a></p>
<p>You can <a href="{% url 'schools:subject_list' %}">Manage schools subjects </a></p>
<h2>Students management</h2>
<p>You can <a href="{% url 'students:list' %}">Manage Students </a></p>

<h2>Acount management</h2>
<p>You can <a href="{% url 'users:edit' %}">edit your profile here</a></p>
<p>You can also <a href="{% url 'users:password_change' %}">change your password here</a></p>
{% endblock %}
