{% extends "base.html" %}
{% block title %}  {% if form.instance.pk %}Update{% else %}create{% endif %} Accreditation status {% endblock %}
{% block content %}
<h2 class="text-center">{% if form.instance.pk %}Edit{% else %}Set{% endif %} Accreditation status <br> for<br> {{ school.name }} </h2>
<form method="post">
    {% csrf_token %}
    {{ form.as_p }}    
    <button class="btn btn-secondary" type="submit">{% if form.instance.pk %}Update{% else %}Set{% endif %}</button>
</form>
<p class="mt-3">
<a class="btn btn-light" href="{% url 'schools:details' school.pk %}">Back to School details</a>
    
</p>
{% endblock %}