{% extends "base.html" %}
{% block title %}  {% if form.instance.pk %}Update{% else %}create{% endif %} Inspection Report {% endblock %}
{% block content %}
<h2>{% if form.instance.pk %}Update/Edit{% else %}Set{% endif %} Inspection Report for {{ school.name }} </h2>
<form method="post">
    {% csrf_token %}
    {{ form.as_p }}

    
    <button class="btn btn-success" type="submit">{% if form.instance.pk %}Update{% else %}Submit report{% endif %}</button>
</form>
<a class="btn btn-secondary mt-4" href="{% url 'schools:details' school.pk %}">Back to School details</a>
{% endblock %}