{% extends "base.html" %}

{% block title %} School {% if form.instance.pk %}Update{% else %}Create{% endif %} {% endblock %}

{% block content %}
<div class="container">
  <h2>{% if form.instance.pk %}Update/Edit{% else %}New{% endif %} School</h2>
  <form method="post" enctype="multipart/form-data" class="form-horizontal">
    {% csrf_token %}
    {% for field in form %}
      <div class="form-group">
        <label for="{{ field.name }}" class="col-sm-2 control-label">{{ field.label }}</label>
        <div class="col-sm-10">
          {{ field }}
          {% if field.errors %}
            <ul class="list-group list-group-flush validation-errors">
              {% for error in field.errors %}
                <li class="list-group-item list-group-item-danger">{{ error }}</li>
              {% endfor %}
            </ul>
          {% endif %}
        </div>
      </div>
    {% endfor %}
    <div class="form-group">
      <div class="col-sm-offset-2 col-sm-10">
        <button type="submit" class="btn btn-primary">{% if form.instance.pk %}Update{% else %}Create{% endif %}</button>
      </div>
    </div>
  </form>
  {% if form.instance.pk %}
    <a href="{% url 'schools:details' form.instance.pk %}" class="btn btn-success">Cancel</a>
  {% else %}
    <a href="{% url 'schools:list' %}" class="btn btn-secondary">Back to List</a>
  {% endif %}
</div>
{% endblock %}