{% extends "base.html" %}
{% block title %} School {% if form.instance.pk %}Update{% else %}create{% endif %} {% endblock %}

{% block content %}
  <h2>{% if form.instance.pk %}Update/Edit{% else %}New{% endif %} School</h2>
  <form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">{% if form.instance.pk %}Update{% else %}Create{% endif %}</button>
  </form>
  {% if form.instance.pk %} 
  <a href="{% url 'schools:details' form.instance.pk %}">Cancel {{ form.instance.pk }}</a>
  {% else %}
      
    <a href="{% url 'schools:list' %}">Back to List</a>

  {% endif %}
   <style>
      a { padding: .51rem; margin: 1rem; text-decoration:none; background: green; color: white;  border-radius:4px; display: inline-block; }
  </style>

{% endblock %}
