{% extends "base.html" %}
{% block title %} Academic session lists {% endblock %}

{% block content %}
<div class="container my-4">
    <h2>Confirm Adding Subjects to {{ school.name }}</h2>

    {% if all_subjects %}
        <h4>The following subjects will be added to this school:</h4>
        <ul>
            {% for subject in all_subjects %}
                <li>{{ subject }}</li>
            {% endfor %}
        </ul>
        
        <form method="post">
            {% csrf_token %}
            <button type="submit" class="btn btn-success">Confirm and Add All Subjects</button>
        </form>
    {% else %}
        <p>No subjects available to add to this school.</p>
    {% endif %}
</div>
{% endblock %}