{% extends "base.html" %}
{% block title %} Stakeholder {% if form.instance.pk %}Update{% else %}create{% endif %} {% endblock %}

{% block content %}
  <h4>{% if form.instance.pk %}Edit {{ stakeholder.stakeholder_name }} Stakeholder @ {{ stakeholder.school.name }} or add <a href="{% url 'schools:stakeholder_create' school.pk %}">New STakeholder</a>
 {% else %}Add New Stakeholder in {{ school.name }}{% endif %}  </h4>
  <form method="post">
    {% csrf_token %}
    
    {{ form.as_p }}

    <button type="submit">{% if form.instance.pk %}Update{% else %}Create{% endif %}</button>
  </form>
  <div style="margin: 2rem;">
    <table class="table table-bordered">
      <thead>
        <tr>
          <th>Stakeholder name</th>
          <th>Position</th>
          <th>Phone number</th>
          <th>Email</th>
          <th>School</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        {% for stakeholder in stakeholders %}
          <tr>
            <td>{{ stakeholder.name }}</td>
            <td> {{ stakeholder.position }} </td>
            <td> {{ stakeholder.phone_number }} </td>
            <td> {{ stakeholder.email }} </td>
            <td> {{ stakeholder.school.name }} </td>
            <td colspan="2">
              <a class="btn btn-primary btn-sm" href="{% url 'schools:stakeholder_update' stakeholder.id %}">Edit</a> 
              <a class="btn btn-danger btn-sm" href="{% url 'schools:stakeholder_delete' stakeholder.id %}">Delete</a>
            </td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
  <a href="{% url 'schools:details' school.pk %}">Back to School Detail</a>
{% endblock %}