{% extends "base.html" %}
{% block title %}  {% if form.instance.pk %}Update{% else %}create{% endif %} Suspension/Closure notice {% endblock %}
{% block content %}
<h2>{% if form.instance.pk %}Update/Edit{% else %}Set{% endif %} Suspension/Closure notice for {{ school.name }} </h2>
<form method="post">
    {% csrf_token %}
    {{ form.as_p }}

    
    <button type="submit">{% if form.instance.pk %}Update{% else %}Set{% endif %}</button>
</form>
<a href="{% url 'schools:details' school.pk %}">Back to School details</a>
{% endblock %}