{% extends "base.html" %}
{% block title %} Term lists {% endblock %}

{% block content %}
  <h2>Schools terms for academic terms</h2>
  <a class="btn-add" href="{% url 'schools:term_create' %}">Set Academic term for schools</a>
  <ul>
    {% for  term in terms %}
      <li>
        {% if term.academic_session.school_type == 'all'%}
           <p> term set for All Schools  </p>
        {% elif term.academic_session.school_type == 'individual'%}
           <p> term set for {{ term.academic_session.school.name }}  </p>
        {% else %}
           <p> term set for all {{ term.academic_session.get_school_type_display }}  </p>
        {% endif %}
        <ul>
          <li>term: {{ term.get_term_name_display }}</li>
          <li>Begin on: {{ term.start_date }}</li>
          <li>end on: {{ term.end_date }} <br><br>
          <a class="btn-edit" href="{% url 'schools:term_update' term.pk %}">Edit</a>
          <a class="btn-del" href="{% url 'schools:term_delete' term.pk %}">Delete</a>
          </li>
          
        </ul>
    {% endfor %}
  </ul>
{% endblock %}
