{% extends "base.html" %}
{% block title %} Term {% if form.instance.pk %}Update{% else %}create{% endif %} {% endblock %}

{% block content %}
  <h2>{% if form.instance.pk %}Update/Edit{% else %}New{% endif %} Term</h2>
  <p>
    {{ form.errors }}
  </p>
  <form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">{% if form.instance.pk %}Update{% else %}Create{% endif %}</button>
  </form>
  <a href="{% url 'schools:academic_sessions' %}">Back to List</a>
{% endblock %}
